

{% extends 'website/base.html' %}


{% block content %}
<h1> Welcome to our hotel page! </h1>
<br>
<br>
<br>
<div class="container2">
    <div class="image">
      <img  src="static/images/HotelRoom.jpg">
    </div>
    <div class="text2">
      <p>This is one of our prestigious hotel rooms that you could have the luxury of staying the night in.
        It will feature an all inclusive breakfast, and for all our eco-warriors, the food is locally sourced,
        from the Safari adventure to your plate!
      </p>
    </div>
  </div>
<br>
<div class="container2">
    <div class="text2">
        <p>This is an example of the food you will be served at our zoo! Nutritionally
        delicious and low in saturated fats. Guaranteed to affect your cholesterol
        (in one way or another) or your money back! (T&Cs apply)
        </p>
    </div>
    <div class="image">
      <img  src="static/images/Food.jpg">
    </div>
</div>
{% endblock %}