{% extends 'website/base.html'%}

{% block content%}

    <style>
        .parallax {
          /* The image used */
          background-image: url("/static/images/zooImage.png");
        
          /* Set a specific height */
          min-height: 500px; 
        
          /* Create the parallax scrolling effect */
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        </style>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, 
        initial-scale=1, shrink-to-fit=no">    

    <link rel="stylesheet" href=
"https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity=
"sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
         crossorigin="anonymous">

    <br>
    <div class="text-center">
        <h3>Riget Adventure Zoo</h3>
        <br>
        <br>
        
    <div class="parallax"></div>

    <div style="height:100px;background-color:mediumspringgreen;font-size:36px">
    Riget Adventure Zoo is home to a wide range of animals! Including the animals you can see behind this text!
    </div>
    <div class="parallax"></div>
    <br>
    <br>
    
    
    
</div>
<div class="container">
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="static/images/Safari.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Safari Adventure</h5>
            <p class="card-text">Our Safari Adventure (insert text)</p>
            <p class="card-text"><small class="text-muted"><a  href="{% url 'safari' %}"><button class="button button1">Go viist our Safari page</button></small></a></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="static/images/HotelRoom.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Hotel Room</h5>
            <p class="card-text">Our Hotel Rooms (insert text)</p>
            <p class="card-text"><small class="text-muted"><a  href="{% url 'hotel' %}"><button class="button button1">Go visit our hotel page</button></small></a></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/static/images/zooImage.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Zoo Admission</h5>
            <p class="card-text">Our Zoo Admission (insert text)</p>
            <p class="card-text"><small class="text-muted"><a  href="{% url 'zoo' %}"><button class="button button1">Go visit our Zoo Admission page </button></small></a></p>
            </div>
        </div>
    </div>
</div>
  <br>
  <br>
  <br>
  <a href="{% url 'register'%}" class="bin btn-primary"> Click here to sign up!&nbsp; <i class="fa fa-user-plus" aria-hidden="true"></i></a>
  <br>
  <br>
{% endblock %}